:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);

  --transparent-white: hsla(0, 0%, 100%, 0.75); /* paragraphs */
  --light-gray: hsl(0, 0%, 95%); /*background, headings, buttons*/

  --f-regular: "Lexend Deca", sans-serif;
  --f-bold: "Big Shoulders Display", cursive;

  --font-size: 15px;

  --fw-regular: 400;
  --fw-bold: 700;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: var(--f-regular);
  font-size: var(--font-size);
  font-weight: var(--fw-regular);
}

body {
  height: 100vh;
  background: var(--light-gray);
  display: grid;
  place-items: center;
}

.container {
  display: flex;
  height: 70%;
  gap: 3rem;
  padding: 3rem;
}

.column {
  height: 100%;
  display: grid;
}

.article {
  width: 14rem;
  line-height: 2rem;
}

.button {
  height: 1.5rem;
  width: 6rem;
  padding: 0.75rem 1.5rem;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
}
